html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  /*left: 0;*/
  /*top: 0;*/
  /*bottom:0;*/
  background: url("../images/top_bg.svg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0%;
  background-color: #272b30;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  margin-bottom: 0;
}
.logo {
	background: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.modal-backdrop {
	z-index: 0;
}
.radius {
  transform: scale(.95);
  opacity: .85;
  transition: transform .5s ease-in;
}
