.cska {
	background: url("../cska.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.loginBG {
	background: url("../cska.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.logo {
	background: url("../logo1.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.modal-backdrop {
	z-index: 0;
}

body {
	background-color: #272b30;
}
